<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">
    <bean class="com.SpringCore.Student" name="Student1">
        <property name="studentId">
            <value>123</value>
        </property>
        <property name="studentName" >
            <value>Anchal</value>
        </property>
        <property name="StudentAddress">
            <value>Delhi</value>
        </property>

    </bean>
    <bean class="com.SpringCore.Student" name="Student2">
        <property name="studentId" value="234"/>
        <property name="studentName" value="Tara"/>
        <property name="studentAddress" value="Agra"/>
    </bean>
<bean class="com.SpringCore.Student" name="Student3" p:studentId="456" p:studentName="Tiya" p:studentAddress="Ajmer"/>


</beans>